.message {
    margin: 10px;
    width: fit-content;
    word-break: break-all;
}

/* .user{
    margin-left: auto;
    color: white;
} */

.card{
    background-color: #414141 !important;
    color: #e6e6e6 !important;
}

.cardContent{
    padding: 10px !important;
}

.name{
    color: var(--sec) !important;
    font-weight: bold;
}